@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example of CSS Variable */
:root {
	--player-height: 96px;
	--header-height: 48px;
}

/* Example of using a TailwindCSS theme */
html {
	font-size: 16px;
	line-height: 24px;
}

body {
	height: 100vh;
	max-height: 100vh;
	font-size: 14px;
	font-family: sans-serif;
}

body.fontLoaded {
	font-family: Roboto, sans-serif;
}

.scroller::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: transparent;
}

.scroller:hover::-webkit-scrollbar-thumb {
	background-color: theme(colors.gray.200);
	border-radius: 10px;
}